
body {
    height: 100%;
    width: 100%;
    background-color: #071624;
}

.container {
    flex-direction: column;
    height: 100%;
    margin: 20px;
    overflow-y: auto;
}

.wrapper{
    background-color:#000000;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    width: 250px;
    height: 250px;
    align-self: center;
}

nav a{
    color: #b855df;
    font-size: 16px;
    margin: 25px;
}

a:link{
    color: #c77cf0;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    transition: color 0.4s linear;
    -webkit-transition: color 0.3s linear;
    -moz-transition: color 0.3s linear;
 }

a:hover {
    color: #9BFDE9;
}

.container2 {
    display: flex;
    min-height: 40vh;
    flex-direction: row;
    justify-content: space-evenly; 
}

a {
    text-decoration:none;
  }
  
  .clickable-container {
    position: relative;
    color: white;
    width: 220px;
    display: block;
  }
  
  .clickable-container:hover {
    color: #fff490;
  }
  .overlay{
    display: none;
      text-align: center;
  }
  
  .info-container {
    background:#1d1f21;
    position:relative;
    color:white;
    width:220px;
    display:block;
    top:-25px;
  }
  
  .clickable-container:hover .overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background:  #1d1f21;
    border-radius: 5px;
      width: 100%;
    height: 100%;
     opacity:0.95;
  }
  
  .listimg > img {
    padding: 10px;
    background: #1d1f21;
    border-radius: 0px;
    display: block;
  }
  
  h3.title {
    font-size: 24px;
    text-align: center;
  }
  
  .user {
    font-size: 14px;
    text-align: center;
  }
  
  .overlay-content {
    font-size: 24px;
  }

.container3 {
    display: flex;
    min-height: 40vh;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; 
}

.container3 img {
    align-items: center;
}

.box{
    width: 25vw;
    padding: 10px;
    margin: 5px;
    background-color: transparent;
}

h1 {
    font-size: 42px;
    font-family: 'Raleway', sans-serif;
    color: white;
    text-align: center;
}

p {
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 18px;
}

h2 {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    text-align: center;
} 

h3 {
    color: white;
    font-family: 'Poppins', sans-serif; 
    font-size: 20px;
    text-align: center;
} 

h4 {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-align: center;
}


footer {
    background-color: black;
    margin: 20px;
    height: 20vh;
}

footer p{
    position: absolute;
    width: 100%;
    line-height: 40px;
    margin-left: 25px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 14px;
}