
body {
    height: 100%;
    width: 100%;
    background-color: #071624;
}

.container {
    flex-direction: column;
    height: 100%;
    margin: 20px;
    overflow-y: auto;
}

.wrapper{
    background-color:#000000;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    width: 250px;
    height: 250px;
    align-self: center;
}

nav a{
    color: #b856df;
    font-size: 16px;
    margin: 25px;
}

a:link{
    color: #c77cf0;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    transition: color 0.4s linear;
    -webkit-transition: color 0.3s linear;
    -moz-transition: color 0.3s linear;
 }

a:hover {
    color: #9BFDE9;
}

.bg {
    background-image: url(combo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50%;
    width: 100%;
    margin-top: 20px;
}

.container2 {
    position: relative;
    font-family: 'Raleway', sans-serif;
    font-size: 70px;
    text-align: center;
    color: rgb(15, 5, 5);
}

.centered {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centered2 {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.container3 {
    display: flex;
    min-height: 40vh;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; 
}

.container3 img {
    align-items: center;
}
.box{
    width: 25vw;
    padding: 10px;
    margin: 5px;
    background-color: transparent;
}

h1 {
    font-size: 42px;
    color: rgb(247, 254, 255);
    text-align: center;
}

p {
    color: white;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;

}
.box blockquote{
    margin-top: -30px;
}

blockquote {
    color: whitesmoke;
    font-family: 'Vollkorn', serif;
    font-size: large;
    text-align: center;
}

h2 {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    text-align: center;
}

h3 {
    color: white;
    font-family: 'Poppins', sans-serif; 
    text-align: center;

}

h5 {
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

img {
    display: grid;
}

footer {
    background-color: black;
    margin: 20px;
    height: 20vh;
}

footer p{
    position: absolute;
    width: 100%;
    line-height: 40px;
    margin-left: 25px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 14px;
}